 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* About.css */

.Boxes{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Center the entire content */
.content {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: flex-start; /* Align content to the top */
  height: 90vh !important;  /* Set the height to the viewport height */
}

/* Style the image */
.content img {
  max-width: 40%; /* Take up around 50% of the width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add some spacing between image and text */
}

/* Style the written content */
.writing {
  max-width: 40%; /* Take up around 50% of the width */
  text-align: left; /* Align text to the left */
  display: flex; /* Change display to flex */
  flex-direction: column; /* Set flex direction to column */
  justify-content: flex-end; /* Align content to the bottom */
}

.statement {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center boxes horiontally */
  width: 100%;
  margin: 2rem auto;
}

.box {
  margin: 0px 50px; /* to bring boxes closer together */
  width: 300px; /* adjust to fit within wrapper */
  height: auto;
  text-align: center;
  background-color: rgb(238, 237, 237);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.box:hover{
  transition: 0.5s;
  background-color: rgb(209, 221, 235);
  color: white;
}

.box img{
  width: 100px;
  border-radius: 0%;
  margin: 0 auto;
  

}

h6 {
  font-family: "Oswald", Sans-serif;
  font-size: 1rem;
}
/* Style the signature */
.signature {
  margin-top: 27px; /* Push signature to the bottom of the container */
}



p {
  font-size: rem; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
  color: #4d4d4d; /* Adjust as needed */
  font-family: Arial, Helvetica, sans-serif;
}


    
    h2, h3 {
      line-height: 0.45; /* Adjust as needed */
    }
    

    h3 {
      color: rgb(68, 115, 160);
      text-align: center;
      font-family: "Oswald", Sans-serif;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 60px;
      margin-bottom: 30px;
      
    }

    h2 {
      text-align: center;
      font-family: "Oswald", Sans-serif;
      font-size: 3.55rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;

  }

  .line {
    width: 100%; /* Span the whole width */
    height: 2px; /* Set the height of the line */
    background-color: #675f5f; /* Adjust color as needed */
    margin-top: 10px; /* Adjust spacing */
    margin-bottom: 10px; /* Adjust spacing */
  }

h4 {
  color: #1a1918;
  font-family: "Oswald", Sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-size: large;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0; /* Remove default margin */
  margin-bottom: 10px; /* Add spacing below the subheading */
}

.AboutFooter {
  
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #0e0b28;
  color: white;
  text-align: center;


}

.AF{
  color:white !important;
}

    .content {
      padding: 10px;
    }
    .content p {
      color: #4d4d4d;
      border: palevioletred;

    
    }
    .content p:first-child {
      margin-top: 10;
    }
    .content p:last-child {
      margin-bottom: 10;
    }
   
