/* About.css */
/*     <body>
      <h2>About Recipes4You</h2>
      <div className="content">
        <p>
            Recipes4You is a web-based solution designed to help users reduce food waste
            and plan meals more effectively. Our goal is to provide a sustainable and
            health-conscious approach to meal planning by offering personalized recipe
            suggestions based on available ingredients and nutritional goals.
        </p>
        <p>
            With Recipes4You, users can create customized recipes tailored to their dietary
            preferences, allergies, and fitness goals. By utilizing AI-generated recipe
            suggestions, we aim to inspire creativity in the kitchen and promote a more
            thoughtful approach to nutrition.
        </p>
        <p>
            Our mission is to empower users to make informed decisions about their food
            choices while reducing food waste and promoting a sustainable lifestyle.
        </p>
        </div>
    </body> */

    body {
      font-family: 'Times New Roman', Times, serif, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h2 {
      margin-top: 0;
      padding-top: 20px;
      color: #4d4d4d;
      left: 50%;
    }

    
    /* .content {
      padding: 20px;
    }
    .content p {
      color: #4d4d4d;
      border: palevioletred;

    
    }
    .content p:first-child {
      margin-top: 0;
    }
    .content p:last-child {
      margin-bottom: 0;
    }
    .content p {
      margin-bottom: 20px;
    } */

    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .content p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.6;
    }
    
    .content p:last-child {
      margin-bottom: 0;
    }
    
    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .box {
      background-color: pink;
      padding: 20px;
      border-radius: 10px;
      transition: background-color 0.3s ease;
    }
    
    .box:hover {
      background-color: #e75480;
    }
    
    .box p {
      margin: 0;
      font-size: 16px;
      line-height: 1.6;
    }
    