/* 
<div>
<h2>Dashboard</h2>
<div className="sidemenu">
  <ul>
    <li>Profile</li>
    <li>Recipes</li>
    <li>Meal Plan</li>
    <li>Settings</li>
  </ul>
</div>
<div className="main-content">
</div>
<button>New Recipe</button>
<div className="recipe-display">
</div>
<style>{`
  .about-container {
    display: none;
  }
`}</style>
</div> 
*/

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.DashboardHeader {
  margin: 0;
  padding: 20px;
  color: #4d4d4d;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sidemenu {
  float: left;
  width: 15%;
  height: 50%;
  margin-bottom: 0px;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: -60px;
  margin-bottom: -80px;
  border-right: 1px solid #d9d9d9;
  -webkit-transition: all 0.5s;
}

.sidemenu ul {
  list-style-type: none;
  padding: 0;
}

.sidemenu ul li {
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  
}


.sidemenu ul li:hover {
  background-color: #a8a5a5;
}



.main-content {
  float: left;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.recipe-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.DashboardButton {
  margin: 100px;
  padding: 10px;
  width: 200px;
  margin-left: 7px;
  background-color: #444444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.DashboardButton:hover {
  background-color: #333;
}

.about-container {
  display: none;
}

/* hide login and register button */
