.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
}

.recipe-card h3 {
    color:blue;
  margin: 0 0 20px;
  padding: 0;
}

