.recipe-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 700px;
}

.recipe-form h2 {
    font-size: 24px;
}

.recipe-form input {
    border: solid 1px #ccc;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    transition: 150ms cubic-bezier(0.4, 0, 0,2, 1);
}

.grandpa label {
    position: absolute;
    left: 16px;
    color: var(--primary-color);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0,2, 1);
}
.input-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }
  
  .input-group.focused label {
    transform: translateY(0);
    font-size: 14px;
    color: #333; /* Change label color when focused */
  }
  
  .input-group label {
    position: absolute;
    left: 16px;
    color: #aaa;
    pointer-events: none;
    transform: translateY(1rem);
    transition: transform 0.2s, font-size 0.2s, color 0.2s; /* Add transition effect */
  }
  
  .input-group input {
    border: solid 1px #ccc;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    width: 100%;
    transition: border-color 0.2s; /* Add transition effect */
  }
  
  .input-group input:focus {
    border-color: #6297bf; /* Change border color when input is focused */
  }
  
  .recipe-form button { /*all buttons in the form */
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    align-content: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smoother hover effect */
  }
  
  .recipe-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #f4f4f4;
  }
  
  .recipe-form button:hover {
    background-color: #6297bf;
  }
  
  .recipe-form button:disabled:hover{
    background-color: #ccc;
  }
  
  .submitButton {
    margin-top: 20px;
    background-color:#8bc2e4;
    display: flex;
    align-self: center;
    cursor: pointer;
    border-radius: 25px;
    border-radius: 25px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .submitButton:hover{
    background-color: #fff; /* Change background color on hover */
    color: #8bc2e4; /* Change text color on hover */
    border: 2px solid #8bc2e4; /* Add a border */
  
  }

  .ingredient-list {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: auto;
    flex: autos;


    p {
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        
    }

    li span {
        font-size: 1rem;
    }

    button { 
        padding: 5px 10px;
        font-size: 1rem;
        width: 30px;
        border: none;
        background: none;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
    }   
    
}
.cuisine-list {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: auto;
    flex: autos;
    p {
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        
    }

    li span {
        font-size: 1rem;
    } 

    button { 
        padding: 5px 10px;
        font-size: 1rem;
        width: 30px;
        border: none;
        background: none;
        border-radius: 5px;
    } 

    button:hover {
        cursor: pointer;
    }   
    
}

.diet-list {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: auto;
    flex: autos;


     p {
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        
    }

    li span {
        font-size: 1rem;
    }

    button { 
        padding: 5px 10px;
        font-size: 1rem;
        width: 30px;
        border: none;
        background: none;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
    }    
}

.allergy-list {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: auto;
    flex: autos;

     p {
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        
    }

    li span {
        font-size: 1rem;
    }

    button { 
        padding: 5px 10px;
        font-size: 1rem;
        width: 30px;
        border: none;
        background: none;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
    }   
     
}