/* Registration.css */

/* <div>
<h2>Let's Get Started!</h2>

 <div className="registration-form">
  <input type="text" placeholder="Email" value={email} onChange={(e) => setEmail(e.target.value)} />
  <input type="password" placeholder="Password" value={password} onChange={(e) => setPassword(e.target.value)} />
  <input type="password" placeholder="Confirm Password" value={confirmPassword} onChange={(e) => setConfirmPassword(e.target.value)} />
  <button onClick={handleRegister}>Register</button>
</div>
  <a href="/">Back to Home</a>
</div> */



.BackDrop {
  margin-top:0%;
  background-image: url('./Flower1.png'); /* Set the background image */
  background-repeat: repeat; /* Repeat the image */
  height: 100vh; /* Set the height of the background to cover the whole viewport */
}

.SignUpBody{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;

}



.signupheading {
  text-align: center;
  margin-bottom: 40px;
  color: #130e41;
  font-family: "Oswald", sans-serif;
}



.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.registration-form button {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; /* Increase padding for a larger button */
  background-color: #8bc2e4; /* Change background color */
  border: 2px solid #fff; /* Add a border */
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smoother hover effect */
  /* Specify the font family */
  font-size: 13px;
  font-family: Arial, serif;
}

.registration-form button:hover{
  background-color: #fff; /* Change background color on hover */
  color: #8bc2e4; /* Change text color on hover */
  border: 2px solid #8bc2e4; /* Add a border */

}


.SF{
  text-align: center;
  background-color: #120f2d;
  color: #fff;
  margin-top: 0%;
  padding: 30px;
  text-align: center;
}

  .input-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-80%);
  }
  
  

  


